.inscription {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.MuiFormControl-root {
    width: 100%;
}

.inscription_wrapper {
    width: 100%;
    padding-top: 20px;
}

.validationButton {
    width: 100% !important;
    border-radius: 15px !important;
    margin-top: 70px !important;
    position: unset !important;
}

.MuiPaper-root {
    margin-right: 20px !important;
}

