@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.App {
  text-align: center;
}

html {
  height: 100vh;
  background-color: #fbfbfb;
  max-width: 920px;
  margin: auto;
}

.formError {
  color: red;
  font-family: "Quicksand";
}